/* hikiboksi ohjain */
html,body{background:#000 url(../img/bg-portrait.png) 0 0 repeat;background-size:cover;}
.ui-page{background:transparent;margin-bottom:0;padding-bottom:0;}
.logo{width:100%;margin-bottom:0;}
.form-input-row{margin:0 auto .5em;width:90%;}
.form-button-row{margin:1.5em auto;width:90%;-moz-user-select:none;-webkit-user-select:none;-o-user-select:none;user-select:none;}
.ui-body-c,.ui-dialog.ui-overlay-c{color:#DDD;text-shadow:none;}
input.ui-shadow-inset{color:#444;}
label.error{color:red;}
input.error{color:#B94A48;border-color:#EE5F5B;background-color:#F0DDDD;}
#acc,#pituus{display:none;}
#app-message{margin:0 2%;}
.message{color:orange;text-align:center;padding:20px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.message.text,.message.error,.message.success{background:rgba(0,0,0,.6);}
.message.error{color:orangeRed;}
.message.success{color:green;}
#app-page .ui-content .ui-btn{line-height:3em;}
.ui-content{}
